{% extends 'oddam_w_dobre_rece_app/base.html' %}
{% load static %}
{% block content %}
  <section class="login-page">
    <h2>Zmiana hasła</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="old_password">Podaj stare hasło:</label><br>
          <input type="old_password" id="old_password" name="old_password"><br>
          <label for="new_password1">Podaj nowe hasło:</label><br>
          <input type="new_password1" id="new_password1" name="new_password1"><br>
          <label for="new_password2">Powtórz nowe hasło:</label><br>
          <input type="new_password2" id="new_password2" name="new_password2"><br>
      </div>
      <div class="form-group form-group--buttons">
        <button class="btn" type="submit">Zapisz zmiany</button>
      </div>
    </form>
  </section>
{% endblock %}
