{% extends 'oddam_w_dobre_rece_app/base.html' %}
{% load static %}
{% block content %}
  <section class="login-page">
    <h2>Profil</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        Imię: {{ user.first_name }}<br>
        Nazwisko: {{ user.last_name }}<br>
        E-mail: {{ user.email }}
      </div>
      <div class="form-group form-group--buttons">
        <button class="btn" type="submit">Zapisz zmiany</button>
      </div>
    </form>
    <h2>Przekazane dary użytkownika {{ user }}</h2>
    <h3>Dary nieodebrane:</h3>

    {% for don in donations1 %}
    <form method="post">
      {% csrf_token %}
    <li>Liczba przekazanych worków: {{ don.quantity }}<br> Obdarowana organizacja: {{don.institution}}<br>
      Kategorie darów: {% for cat in don.categories.all %}{{cat.name}}, {% endfor %}<br>Termin odbioru: {{don.pick_up_date}} o godzinie {{don.pick_up_time}}<br>
      <button type="submit" name="is_taken" value="{{ don.id }}">Odebrany</button>
    </li>
    {% endfor %}
    </form>

        <h3>Dary odebrane:</h3>

    {% for don in donations2 %}
    <li>Liczba przekazanych worków: {{ don.quantity }}<br> Obdarowana organizacja: {{don.institution}}<br>
      Kategorie darów: {% for cat in don.categories.all %}{{cat.name}}, {% endfor %}<br>Odebrane: {{don.pick_up_date}} o godzinie {{don.pick_up_time}}<br>
    </li>
    {% endfor %}<br>

    <input type="submit" value=Zatwierdź>

  </section>

{% endblock %}

